{{ partialCached "header/head.html" . }}

  <div id="main">
    {{ partial "nav.html" . }}
    <h1 class="animated flipInX"><a href="/">{{ .Title }}</a></h1>
    <div class="talkies">
        {{ .Content }}
    </div>

    {{ if isset .Site.Params "social" }}
        {{ partialCached "social.html" . }}
    {{ end }}

    <br/>
    {{ range first 3 .Site.RegularPages }}
    <li style="list-style:none"><a href="{{ .Permalink }}">{{ .Title }}</a><br /><span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span><br />{{ .Content }}</li>
    {{ end }}

  </div>

  

{{ partial "sidemenu.html" . }}
{{ partialCached "footer/foot.html" . }}
